<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vidéothèque</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
<body>

<form action="http://localhost:8001/login" method="post">
  <div class="container">
    <h1>Sign in</h1>

    <label for="email"><b>Username</b></label>
    <input type="text" placeholder="Username" name="username" id="username" required>

    <button type="submit" class="register">Load</button>
  </div>
</form>

</body>
</html>
